# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/


# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment
*.egg-info/

# Logs
*.log

# Secrets
.env